<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8/">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="jumbotron mb-0">
        <h1 class="display-4">Novo Pedido</h1>
    </div>
    <div class="card mt-3">
        <form th:object="${requisicaoNovoPedido}" class="card-body" action="/pedido/novo" method="POST">
            <div class="form-group">
                <label for="nome">Produto</label>z
                <input th:field="*{nome}" class="form-control" id="nome"  placeholder="nome do produto"/>
                <small>Informa qual o nome do produto</small>
            </div>

            <div class="form-group">
                <label for="urlProduto">Url</label>
                <input th:field="*{urlProduto}" class="form-control" id="urlProduto"  placeholder="url do produto"/>
                <small>Procure em um site o produto que voce deseja e cole a url</small>
            </div>

            <div class="form-group">
                <label for="urlImagem">Imagem</label>
                <input th:field="*{urlImagem}" class="form-control" id="urlImagem"  placeholder="url da imagem"/>
                <small>Procure a url a imagem do produto desejado</small>
            </div>

            <div class="form-group">
                <label for="descricao">descricao</label>
                <textarea class="form-control" id="descricao" name="descricao"
                          placeholder="Adiocione detalhes do produto"></textarea>
            </div>
            <button class="bnt bnt-primary" type="submit">Cadasatrar</button>


        </form>
    </div>
</div>
</body>
</html>